<% provide(:title, "Log in") %>
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Login
                <small>IVTServer for DWMorgan</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Login
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container-fluid -->

<% if @error %>
  <div class="btn-danger" align="center"><%=@error%></div>
<% end %>

<div class="container login-container">
  <div class="row">
    <div class="login-form">
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :remember_me, class: "checkbox" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span><br>
        <% end %>
        <%= f.submit "Log in", class: "btn btn-info login-button" %>
      <% end %>
      <br>
    </div>
  </div>
</div>


