<p id="notice"><%= notice %></p>

<% raw = @unit.longitude.split[1] %>
<% @longitude = raw.split(",")[0] %>
<% @latitude = raw.split(",")[1].delete! '>' %>

longitude: <%= @longitude %>
latitude: <%= @latitude %>


<div style='width: 800px;'>
  <div id="one_marker" style='width: 800px; height: 400px;'></div>
</div>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'one_marker'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": '<%= j @longitude %>',
        "lng": '<%= j @latitude %>',
        "picture": {
          
          "width":  36,
          "height": 36
        },
        "infowindow": "hello!"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(16)
  });
</script>

